[flake8]
max-line-length = 88
# D100: Missing docstring in public module
# D101: Missing docstring in public class
# D102: Missing docstring in public method
# D103: Missing docstring in public function
# D104: Missing docstring in public package
# D105: Missing docstring in magic method
# D107: Missing docstring in __init__
# D205: 1 blank line required between summary line and description
# D400: First line should end with a period
# D401: First line should be in imperative mood
extend-ignore = E203, W503, E501, F401, D100, D101, D102, D103, D104, D105, D107, D205, D400, D401
exclude = .git,__pycache__,build,dist,code_manta/prompts/system_prompt.py,examples/
per-file-ignores =
    __init__.py:F401
    code_manta/*:E221
